{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于我们</title>
</head>
<body topmargin="0">
	<table width="800" height="800" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td width="260" bgcolor="#f2f2f2" valign="top">
				<table width="230" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td height="100"></td>
					</tr>
					<tr>
						<td align="right">
							<a href="{% url 'index:indexPage' %}"><img src="{% static 'images/logo.png' %}"></a>
						</td>
					</tr>
					<tr><td align="right"><font color="#5f5f5f" size='3' face="Microsoft Yahei"><b>call us:</b></font></td></tr>
					<tr><td align="right" height="30"><font color="#5f5f5f" size='3' face="Microsoft Yahei">654388888</font></td></tr>
					<tr><td align="right" height="30"><font color="#5f5f5f" size='3' face="Microsoft Yahei">daydayfresh@163.com</font></td></tr>
				</table>					
			</td>
			<td width="30"></td>
			<td width="480" valign="top">
				<table width="440" border="0" cellpadding="0" cellspacing="0">
					<tr><td height="45"></td></tr>
					<tr>
						<tr><td align="right"><font color="#5f5f5f" size='4' face="Microsoft Yahei"><b>北京天天生鲜科技有限公司</b></font></td></tr>
					</tr>
				</table>
				<br />
				<hr width="100%" style="margin-top:-5px;border:3px solid #47aa34;"/>

				<br />
					<table width="440" border="0" cellpadding="5" cellspacing="0">
						<tr>
							<font size="3" color="#5f5f5f" face="Microsoft Yahei">
							    &nbsp;&nbsp;  北京天天生鲜科技有限公司是一家在线销售时令水果，海鲜水产，猪牛羊肉，禽类蛋
							品，禽类蛋品，新鲜蔬菜，速冻食品的的互联网+企业。公司借助互联网平台，做到了线上与线下相结合的发展战略。
							</font>									
						</tr>
					</table>
					<br />
					<table cellspacing="0" cellpadding="5">
						<tr>
							<td><font size="4" color="#5f5f5f" face="Microsoft Yahei"><b>公司大事记</b></font></td>
						</tr>
						<tr>
							<td><font size="3" color="#5f5f5f" face="Microsoft Yahei"><b>2008.09-2011.06</b>&nbsp;公司挂牌成立</font></td>
						</tr>
						<tr>
							<td><font size="3" color="#5f5f5f" face="Microsoft Yahei"><b>2011.06-2012.09</b>&nbsp;公司推出互联网平台</font></td>
						</tr>
					</table>
					<br />
					<table cellspacing="0" cellpadding="5">
						<tr>
							<td><font size="4" color="#5f5f5f" face="Microsoft Yahei"><b>所获荣誉</b></font></td>
						</tr>
						<tr>
							<td><font size="3" color="#5f5f5f" face="Microsoft Yahei"><b>2009年：</b>荣获"健康肉类"证书</font></td>
						</tr>
						<tr>
							<td><font size="3" color="#5f5f5f" face="Microsoft Yahei"><b>2009年：</b>荣获"可靠放心产品"证书</font></td>
						</tr>
					</table>
			</td>
			<td width="30"></td>
		</tr>		
	</table>
</body>
</html>