{%extends 'freshFruit/base.html'%}
{% load static from staticfiles %}
{%block title%}天天生鲜-用户中心{%endblock%}

{%block menu%}
<div class="search_bar clearfix">
		<a href="{% url 'index:indexPage' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="search_con fl">
			<form action="/search/" target="_blank">
				<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
				<input type="submit" class="input_btn fr" name="" value="搜索">
			</form>
		</div>
		<div class="guest_cart fr">
				<i id="end"></i>

			<a href="{% url 'cart:cart'%}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{number}}</div>
		</div>
	</div>

	{%block navlist%}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">


			{% for temp in SortsMsg %}
			<li><a href="{% url 'goodslist:list'%}?order=id&&sort={{temp.id}}" class="{{temp.sortClass}}">{{temp.sortName}}</a></li>
			{% endfor temp %}

				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>
	{%endblock%}
{%endblock%}

