{%extends 'freshFruit/base_user.html'%}
{% load static from staticfiles %}
{%block option%}用户中心{%endblock%}
{%block tab_info%}<li><a href="{% url 'usercenter:user_center_info'%}" class="active">· 个人信息</a></li>{%endblock %}

{%block content%}

		<div class="right_content clearfix">
				<div class="info_con  clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{info.user.uName}}</li>
							<li><span>联系方式：</span>{{info.user.uPhoneNumber}}</li>
							<li><span>联系地址：</span>{{info.user.uAddr}}</li>			
						</ul>
				</div>
				<div class="user_info_change">
					<h3 class="common_title2">完善信息</h3>
					<form action="{% url 'usercenter:user_center_info'%}" method="post">
							<div><span>联系方式：</span><input type="text" name="phonenumber" ></div>
									
							<div><span>联系地址：</span><input type="text" name="addr" ></div>
							
							<input type="submit" name="" value="提交">	
					</form>	
				</div>	
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
				{% for i in info.recentsee%}
				<li>
					<a href="detail.html"><img src="/static/{{i.imgPath}}"></a>
					<h4><a href="detail.html">{{i.goodsName}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{i.goodsPrice}}</span>
						<span class="unit">{{i.goodsPrice}}/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}
				<!-- <li>
					<a href="#"><img src="{% static 'images/goods/goods004.jpg' %}"></a>
					<h4><a href="#">吐鲁番梨光杏</a></h4>
					<div class="operate">
						<span class="prize">￥5.50</span>
						<span class="unit">5.50/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="{% static 'images/goods/goods005.jpg' %}"></a>
					<h4><a href="#">黄肉桃</a></h4>
					<div class="operate">
						<span class="prize">￥10.00</span>
						<span class="unit">10.00/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="{% static 'images/goods/goods006.jpg' %}"></a>
					<h4><a href="#">进口西梅</a></h4>
					<div class="operate">
						<span class="prize">￥28.80</span>
						<span class="unit">28.8/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="{% static 'images/goods/goods007.jpg' %}"></a>
					<h4><a href="#">香梨</a></h4>
					<div class="operate">
						<span class="prize">￥6.45</span>
						<span class="unit">6.45/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li> -->
			</ul>
		</div>
		</div>
	</div>
{%endblock%}